@charset "utf-8";

$text: #2C2C2C;
$white: #ffffff;
$blk:#2C2C2C;

$green: #4D9D23;
$p-green:#f6faf4;
$blue: #0092CC;
$p-blue: #f1f9fc;
$olive: #A8B400;
$p-olive: #fbfcf3;
$orange:#F3850A;
$p-orange:#fff9f3;
$red:#DC0017;
$p-red:#fef3f4;
$pnk:#DC3A86;
$p-pnk:#fdf8fa;
$purple:#70256A;

$yellow:#FFC033;
//$yellow:#ffbd00;


$h_yellow:#FFC400;
$h_orange:#F3850A;


$lite-green: #788A40;
$dark-green: #5e7123;
$nav-green: #5B7700;

$pale: #F8F3E5;

$brown:#380707;

$wine: #A80B04;
$btn-red: #B80000;
$footer-red: #C90000;

$lite-gray: #fafafa;
$bd: #E8E8E8;

$ease-in-out: cubic-bezier(.7,0,0,.7);
$ease-out: cubic-bezier(0,0,0,1);

$bp-sp: 375px;
$bp-pc: 512px;
